PORT=5300
ORIGIN_DEV=http://localhost:3000
QDRANT_URL=
QDRANT_URL_LOCAL=
QDRANT_API_KEY=
GOOGLE_API_KEY=
CLOUDFLARE_S3_ENDPOINT=
CLOUDFLARE_ACCESS_KEY_ID=
CLOUDFLARE_SECRET_ACCESS_KEY=
CLOUDFLARE_BUCKET_NAME=
DATABASE_URL=

CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=
